[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "vendor/stb-image"]
	path = vendor/stb-image
	url = https://github.com/nothings/stb
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/SDL3"]
	path = vendor/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/vma-hpp"]
	path = vendor/vma-hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "vendor/tinyobj"]
	path = vendor/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader
